In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Get resources from Drive
ndci_df = pd.read_csv("/content/drive/MyDrive/NDCI_lower_lake_time_series/NDCI_time_series_lower_lake.csv")
ndci_df = ndci_df.rename(columns={'value': 'chlorophyll'})
ndci_df.head()

         date  chlorophyll
0  2019-01-02     0.103158
1  2019-01-07     0.021301
2  2019-01-12     0.030233
3  2019-01-17     0.097192
4  2019-01-22     0.168490

In [ ]:
ndsi_df = pd.read_csv("/content/drive/MyDrive/NDSI_lower_lake_time_series/NDSI_time_series_lower_lake.csv")
ndsi_df = ndsi_df.rename(columns={'value': 'salinity'})
ndsi_df.head()

         date  salinity
0  2019-01-02  0.370629
1  2019-01-07  0.410898
2  2019-01-12  0.312067
3  2019-01-17  0.334792
4  2019-01-22  0.179612

In [ ]:
ndti_df = pd.read_csv("/content/drive/MyDrive/NDTI_lower_lake_time_series/NDTI_time_series_lower_lake.csv")
ndti_df = ndti_df.rename(columns={'value': 'turbidity'})
ndti_df.head()

         date  turbidity
0  2019-01-02  -0.159763
1  2019-01-07  -0.059735
2  2019-01-12  -0.062921
3  2019-01-17  -0.186770
4  2019-01-22  -0.122402

In [ ]:
ph_df = pd.read_csv("/content/drive/MyDrive/PH_lower_lake_time_series/PH_time_series_lower_lake.csv")
ph_df = ph_df.rename(columns={'value': 'ph'})
ph_df.head()

         date        ph
0  2019-01-02  7.478538
1  2019-01-07  7.302382
2  2019-01-12  7.251886
3  2019-01-17  7.180238
4  2019-01-22  8.172526

In [ ]:
oxygen_df = pd.read_csv("/content/drive/MyDrive/dissolvedOxygen_lower_lake_time_series/dissolvedOxygen_time_series_lower_lake.csv")
oxygen_df = oxygen_df.rename(columns={'value': 'dissolvedOxygen'})
oxygen_df.head()

         date  dissolvedOxygen
0  2019-01-02         9.576973
1  2019-01-07         9.576485
2  2019-01-12         9.576917
3  2019-01-17         9.576906
4  2019-01-22         9.576976

In [ ]:
complete_df = pd.concat([pd.DataFrame(ndci_df, columns= ['date', 'chlorophyll']),\
                        pd.DataFrame(ndti_df, columns=['turbidity']),\
                        pd.DataFrame(ndsi_df, columns=['salinity']), \
                         pd.DataFrame(ph_df, columns=['ph']), \
                         pd.DataFrame(oxygen_df, columns=['dissolvedOxygen'])], axis=1, sort=False)

complete_df.head()

         date  chlorophyll  turbidity  salinity        ph  dissolvedOxygen
0  2019-01-02     0.103158  -0.159763  0.370629  7.478538         9.576973
1  2019-01-07     0.021301  -0.059735  0.410898  7.302382         9.576485
2  2019-01-12     0.030233  -0.062921  0.312067  7.251886         9.576917
3  2019-01-17     0.097192  -0.186770  0.334792  7.180238         9.576906
4  2019-01-22     0.168490  -0.122402  0.179612  8.172526         9.576976

In [ ]:
complete_df.to_csv("/content/drive/MyDrive/Water_Quality/bhopal_lower_lake_time_series.csv")